Каталог онлайн-курсов — Stepik_files
Каталог онлайн-курсов — Stepik.html
Gran_Turismo_Collectors_Edition_rus.cso
GTA Vice City Stories (Rus).cso
Intel-Driver-and-Support-Assistant-Installer.exe
PPSSPP-v1.20.3-Windows-x64.zip
style_neyro.css
.venv