@-moz-document url-prefix("https://stepik.org") {
@keyframes text-rainbow-color {
    8%, 100% { color: red               ; }
    16%, 96% { color: orange            ; }
    24%, 88% { color: yellow            ; }
    32%, 80% { color: rgb(9, 255, 0)    ; }
    40%, 72% { color: #00ffc8           ; }
    48%, 64% { color: rgb(20, 114, 255) ; }
    56%      { color: violet            ; }
}

@keyframes text_green__yellow {
    0%, 100% { color: #75dd7b           ; }
    50%      { color: #dd8              ; }
}

/*------------------------*/
/* общий background-color */
/*------------------------*/

body,
.ember-application, /* класс принадлежащий body */
main,
.main-content, /* главное окно с контентом */
.stepik-loader-prerender-wrapper, /* загрузочное окно при перезагрузке сайта */
.button:not(.st-button_style_none).toast-panel__button.st-size-small,
button:not(.st-button_style_none).toast-panel__button.st-size-small, /* кнопка на панели */
.st-input-wrapper, /* обёртка всех input */
input.search-form__input, /* поисковая строка на главной но не в навбаре */
.select-box-item>button:hover, /* кнопки выбора языка, выпадающее окно (большие экраны) */
.profile__text,
.light-tabs__content,
.toast-panel__button,
/* все элементы с #2e2e2e или #222222 */ 
.marco-layout /* боковой цвет при очень больших экранах 
в нём не чего не хранится  */{
    background-color: #2e2e2e !important;
    --marco-layout-outer-color: #222222;
    /* это цвет нечего не содержащих блоков по блокам */

}

.learn-last-activity-card, /* блок с надписью "дней без перерыва" */
.learn-featured-course-card, /*последний проходимый курс на вкладке моё обучение*/
.nav-menu, /* боковое меню на вкладке моё обучение */
.course-card__widgets,
.catalog-w__content-header-toolbar, /* поисковая строка после кнопки поиск на странице каталоги */
.navbar,
.course-cards__card, /* в главной подстилка, после поиска лицо карточки курса */
.catalog-rich-card::before,
.search-form, /* стили поисковой панели */
.catalog__search-form, /* поисковая панель в верху не в навбаре */
.modal-popup__container, /* выпадающее окно "фильтры" (маленькие экраны) */
.marco-layout__nav, /* боковая панель фильтров после кнопки поиск (большие экраны) */
.catalog-block-promo-courses__about-card, /* блок промо курса (новости) */
.toast-panel, /* панель "Выйти из режима просмотра" */
.light-tabs__content, /* блоки "О себе" и "Активность за последний год" */
.select-box-item>button, /* кнопки выбора языка (popup окно) */
.menu,
.button:not(.st-button_style_none).grey.disabled,
.button:not(.st-button_style_none).grey[aria-disabled=true],
.button:not(.st-button_style_none).grey[disabled],
button:not(.st-button_style_none).grey.disabled,
button:not(.st-button_style_none).grey[aria-disabled=true],
button:not(.st-button_style_none).grey[disabled], /* все элементы с #222222 */ 
input[type=text].new-course-form__input /* поле ввода названия нового курса */
{
    background-color: #222222 !important;
    background-image: none;
}

/*------------*/
/* color      */
/*------------*/
a {
    color: #75dd7b;
    transition: color 0.5s;
}

a:hover {
    color: #0095ff;
}

h1, h2, p,
b, /* стили возле галочек */
label>span, /* текст возле галочек */
.tab__item, /* категории (вкладки с инфой) */
.course-card__summary, /* краткое описание курса после поиска (большие экраны) */
.search-form-filter__title, /* левый фильтр после поиска (большие экраны), заголовки фильтров */
.modal-popup__subtitle, /* текст в "Уровень сложности", "Язык", "Тип обучения" */
.search-form-filter__range-presets-btn, /* кнопки цены в фильтрах */
.navbar__search-wrapper .st-input-wrapper, /* поле поиска в навбаре */
.learn-featured-course-card, /*последний проходимый курс на вкладке моё обучение*/
.learn-last-activity-card, /* блок с надписью "дней без перерыва" */
.button:not(.st-button_style_none).toast-panel__button.st-size-small,
button:not(.st-button_style_none).toast-panel__button.st-size-small, /* кнопка на панели */
.profile__counter>b, /* счётчик профиля, репутация и знания (цвет чисел) */
.profile__text, /* биография юзера */
.button:not(.st-button_style_none),
button:not(.st-button_style_none) /* кнопка подписаться в предпросмотре чужих профилей */ {
    color: #fff !important;
}

h3 {
    color: #bcf0b3 !important;
}

time {
    color: #27929A !important;
}

.main-content>.marco-layout, /* текст под кнопкой создать курс в вкладке преподавание  */
.new-course-form__label /* текст возле поля ввода "название курса" */
{    
    color: #bdbdbd;
}

/*---------------*/
/* style input   */
/*---------------*/
input.search-form__input {
    border-color: #333333 !important;
    animation: text-rainbow-color 22s infinite;
    color: #ff3434;
    transition: all 2s !important;
}

.catalog-w__content-header-toolbar {
    /* поисковая строка после нажатия кнопки поиск */
    border: 1vh #222222 solid;
    border-radius: 14px;
}

input[type=text].new-course-form__input /* поле ввода названия нового курса */
{
    border: 2px solid #75dd7b;
    color: #75dd7b;
    transition: color 0.2s;
}

input[type=text].new-course-form__input:hover
{
    color: #0095ff;
}


/*------------------*/
/* style checkbox   */
/*------------------*/
.form-checkbox>span::after, .form-checkbox>span::before {
    border-color: white !important;
}

.form-checkbox>span::after {
    content: "w";
}

.catalog-rich-card::before {
    /* только на главной, после поиска без ::before */
    transition: all 0.2s;
}

.course-cards__card {
    /* в главной подстилка, после поиска лицо карточки курса */
    border-radius: 15px;
    padding: 1vh !important;
    margin: 1vh;
}

button.course-card__bookmark:not(.st-button_style_none) {
    /* кнопка "хочу пройти" в правом углу курса */
    border: none;
    background-color: red;
}
button.course-card__bookmark:not(.st-button_style_none):hover {
    background-color: red;
    border: none;
}


button.select-box__toggle-btn {
    /* выбор языка */
    color: #168bff !important;
}

.search-form-filter__subtitle-mobile {
    /* текст под заголовками в фильтрах (маленькие экраны) */
    color: #dfdfdf;
}

.search-form-filter__range-presets-btn {
    /* кнопки цены в фильтрах (маленькие экраны) */
    transition: all 1s !important;
}

.profile-summary__followers, .profile-summary__followers>b {
    /* надпись и число подписчиков */
    color: #ff1818;
}

.profile__counter {
    /* текст счётчика профиля на вкладке профиль */
    color: yellow;
}

.licl__progress {
    /* прогрес прохождения курса (100/100) */
    color: #737370 !important;
}


.toast-panel {
    /* панель "Выйти из режима просмотра" профиля */
    color: yellow;
}

.learn-last-activity-card /* блок с надписью "дней без перерыва" */
{
    border: none;
}

.learn-last-activity-pin__caption/* цвет текста дни недели */{
    color: #737370 !important;
}

.catalog-block-organizations__list {
    /*каталог организаций публикующих курсы на степике */
    background-color: #bdbdbd;
    border-radius: 10px 40px 10px 40px;
    padding: 1vh;
}

.catalog-block-promo-courses__about-card-body {
    /* блок промо курса(типо новости и т.п.) 
    сам текст*/
    animation: text-rainbow-color 22s infinite;
    color: red;

    
}
}