@-moz-document url-prefix("https://stepik.org") {
/*---------------------------*/
/* standart color stepik.org */
/*---------------------------*/
/* #A5A5A5 - цвет текста navbar(a)*/


/*---------------------------------------------*/
/*------------*/
/* animations */
/*------------*/
@keyframes text-rainbow-color {
    8%   { color: red               ; }
    16%  { color: orange            ; }
    24%  { color: yellow            ; }
    32%  { color: rgb(9, 255, 0)    ; }
    40%  { color: #00ffc8           ; }
    48%  { color: rgb(20, 114, 255) ; }
    56%  { color: violet            ; }
    64%  { color: rgb(20, 114, 255) ; }
    72%  { color: #00ffc8           ; }
    80%  { color: rgb(9, 255, 0)    ; }
    88%  { color: yellow            ; }
    96%  { color: orange            ; }
    100% { color: red               ; }
}

@keyframes text_green__yellow {
    0%   { color: #75dd7b           ; }
    50%  { color: #dd8              ; }
    100% { color: #75dd7b           ; }
}



/*------------*/
/* tags style */
/*------------*/

body{   
    background-color: #2e2e2e; }

a       {color: #75dd7b     ;
        transition: color 0.5s; }

a:hover { color: #0095ff    ; }

h1      { color: #fff       ; }
    
h2      { color: #fff       ; }
    
h3      { color: #bcf0b3    ; }
    
b       { color: white      ; }
    /*b стили возле галочек*/ 

time    { color: #27929A    ; }

label>span{
    /*текст возле галочек*/
    color: white; }




/*---------------------------------------------*/
/*---------------------*/
/* main window content */
/*---------------------*/

.main-content {
    /*главное окно с контентом*/
    background-color: #2e2e2e;
}





/*---------------------------------------------*/
/*---------------*/
/* all in navbar */
/*---------------*/

navbar>.navbar {
/* навбар */
    background-color: #222222;
    /*сверху стандартный цвет панели степика */}




/*---------------------------------------------*/
/*---------------*/
/*  style input  */
/*---------------*/
input.search-form__input {
    background-color: #333333 !important;
    border-color: #333333 !important;
    animation: text-rainbow-color 22s infinite;   
    color: #ff3434;
    transition: all 2s !important;
}


st-input-wrapper{
        background-color: red;
}




/*---------------------------------------------*/
/*----------*/
/*  search  */
/*----------*/

.search-form {
    /*стили поисковой панели*/
    background-color: #222222;
}




/*---------------------------------------------*/
/*------------------*/
/*  style checkbox  */
/*------------------*/
.form-checkbox>span::after {
    content: "w";
    border-color: white !important;}

.form-checkbox>span::before {
    border-color: white !important;}


/*---------------------------------------------*/

.ember-application {
    background-color: #2e2e2e;
}


stepik-loader-prerender-wrapper {
    background-color: #2e2e2e;
}



/* не опредеоённое */
/* ------------------------------------------------------------------------------------------------------------------------------ */
}

@-moz-document url-prefix("https://stepik.org/users") {
/*---------------*/
/* classes style */
/*---------------*/



.toast-panel {
    /* режим просмотра своего провиля "со стороны" */
    /* стили панели с кнопкой "Выйти из режима просмотра" */
    background-color: #222222;
    color: yellow;
}

.button:not(.st-button_style_none).toast-panel__button.st-size-small,
button:not(.st-button_style_none).toast-panel__button.st-size-small {
    /* кнопка на панели */
    background-color: #2e2e2e;
    color: white;
}


.profile-summary__followers {
    /* надпись "Подписчиков" */
    color: #ff1818;
}

.profile-summary__followers>b {
    /* сколько фалловеров */
    color: #9d9d9d;
}

.profile__counter {
    /* текст счётчика провиля */
    color: yellow;
}
.profile__counter>b {
    /* счётчик профиля(числа) */
    color: white;
}



.profile__text {
    /* стили инфы о профиле */
    color: white;
    background-color: #222222;
    padding: 1vh;
    border-radius: 14px;
}


.tab__item {
    /*вкладки с инфой*/
    color: white;
}


.light-tabs__content {
    /* блоки "О себе" и "Активность за последний год" */
    background-color: #222222;
    border: none;
}

.button:not(.st-button_style_none).grey.disabled,
.button:not(.st-button_style_none).grey[aria-disabled=true],
.button:not(.st-button_style_none).grey[disabled],
button:not(.st-button_style_none).grey.disabled,
button:not(.st-button_style_none).grey[aria-disabled=true],
button:not(.st-button_style_none).grey[disabled] {
    /*     коммент от разраба, в душе не ебу аочему такая длиная запись класса для определения цвета */
    /* кнопка подписатся в предпросмотре своего профиля*/
    color: white;
    background-color: #970707;
}


.button:not(.st-button_style_none),
button:not(.st-button_style_none) {
    /* кнопка подписатся в предпросмотре чужих профилях */
    color: white;
    background-color: #970707;
}

rect {
    background-color: black;
    color: red !important;
}
}

@-moz-document url-prefix("https://stepik.org/learn") {
/*---------------*/
/* classes style */
/*---------------*/


.profile-summary__followers {
    color: #ff1818;
}

.profile-summary__followers>b {
    /* сколько фалловеров */
    color: #9d9d9d;
}

.profile__counter {
    /* текст счётчика провиля */
    color: yellow;
}
.profile__counter>b {
    /* счётчик профиля(числа) */
    color: white;
}

.profile__text {
    color: white;
    background-color: #222222;
    padding: 1vh;
    border-radius: 14px;
}


.toast-panel__button {
    background-color: #222222;
    color: red;
}



.button:not(.st-button_style_none).grey.disabled,
.button:not(.st-button_style_none).grey[aria-disabled=true],
.button:not(.st-button_style_none).grey[disabled],
button:not(.st-button_style_none).grey.disabled,
button:not(.st-button_style_none).grey[aria-disabled=true],
button:not(.st-button_style_none).grey[disabled] {
    /*     коммент от разраба, в душе не ебу аочему такая длиная запись класса для определения цвета */
    /* кнопка подписатся в предпросмотре своего профиля*/
    color: white;
    background-color: #970707;
}


.button:not(.st-button_style_none),
button:not(.st-button_style_none) {
    /* кнопка подписатся в предпросмотре чужих профилях */
    color: white;
    background-color: #970707;
}

rect {
    background-color: black;
    color: red !important;
}
}