@-moz-document url-prefix("https://stepik.org") {
/*---------------------------*/
/* standart color stepik.org */
/*---------------------------*/
/* #A5A5A5 - цвет текста navbar(a)*/
/* #222222 - цвет навбара */


/*---------------------------------------------*/
/*------------*/
/* animations */
/*------------*/
@keyframes text-rainbow-color {
    8%, 100% { color: red               ; }
    16%, 96% { color: orange            ; }
    24%, 88% { color: yellow            ; }
    32%, 80% { color: rgb(9, 255, 0)    ; }
    40%, 72% { color: #00ffc8           ; }
    48%, 64% { color: rgb(20, 114, 255) ; }
    56%      { color: violet            ; }
}

@keyframes text_green__yellow {
    0%, 100% { color: #75dd7b           ; }
    50%      { color: #dd8              ; }
}


/*---------------------------------------------*/
/*------------------------*/
/* общий background-color */
/*------------------------*/
body,
.main-content {
    background-color: #2e2e2e;
    /* .main-content - главное окно с контентом*/
}

.catalog-w__content-header-toolbar,
.navbar,
.course-cards__card,
.catalog-rich-card::before,
.search-form {
    background-color: #222222;
    /* .catalog-w__content-header-toolbar - поисковая строка. после нажатия на кнопку поиск */
    /* .course-cards__card - в главной этот класс лежит как подстилка, а после нажатия кнопки поиска становится лицом карточки курса */
}




/*---------------------------------------------*/
/*------------*/
/* color     */
/*------------*/

a {
    color: #75dd7b;
    transition: color 0.5s;
}

a:hover {
    color: #0095ff;
}

h1,
h2,
b,
/*стили возле галочек(правда я уже не помню каких именно галочек)*/
label>span,
/*текст возле галочек*/
.tab__item,
/*категории(вкладки с инфой)*/
.course-card__summary,
/* краткое описание курса после нажатия на кнопку поиска, (большие экраны) */
.search-form-filter__title,
/*  левый фильтр после нажатия кнопки поиск (большие экраны)
    выпадающее окно "фильтры" (маленькие экраны)
    звголовки(title)*/
.modal-popup__subtitle,
/* перевод: модуль-всплывающий__субтитры */
/* выпадающее окно "фильтры"(маленькие экраны),
текст в "Уровень сложности",
в "Язык" и "Тип обучения" */
.search-form-filter__range-presets-btn,
/* выпадающее окно "фильтры" (маленькие экраны),
    >цена>кнопки снизу поля ввода(input(a))*/
.button:not(.st-button_style_none).toast-panel__button.st-size-small,
button:not(.st-button_style_none).toast-panel__button.st-size-small,
/* кнопка на панели(но что за панель я забыл указать а теперь догадывайся сам) */
.profile__counter>b,
/*счётчик профиля, репутация и знания(цвет чисел)*/
.profile__text,
/* биография юзера */
.button:not(.st-button_style_none).grey.disabled,
.button:not(.st-button_style_none).grey[aria-disabled=true],
.button:not(.st-button_style_none).grey[disabled],
button:not(.st-button_style_none).grey.disabled,
button:not(.st-button_style_none).grey[aria-disabled=true],
button:not(.st-button_style_none).grey[disabled],
/* кнопка подписатся в предпросмотре своего профиля*/
.button:not(.st-button_style_none),
button:not(.st-button_style_none)
/* кнопка подписатся в предпросмотре чужих профилях */
    {
    color: #fff !important;}

h3 {
    color: #bcf0b3;
}

time {
    color: #27929A !important;
}



/*---------------------------------------------*/
/*---------------*/
/*  style input  */
/*---------------*/
input.search-form__input {
    background-color: #333333 !important;
    border-color: #333333 !important;
    animation: text-rainbow-color 22s infinite;
    color: #ff3434;
    transition: all 2s !important;
}


st-input-wrapper {
    /*     background-color: red; */
    background-color: red;
}



.catalog-w__content-header-toolbar {
    /* поисковая строка. после нажатия на кнопку поиск */
    border: 1vh #222222 solid;
    border-radius: 14px;
}

/*---------------------------------------------*/
/*------------------*/
/*  style checkbox  */
/*------------------*/
.form-checkbox>span::after {
    content: "w";
    border-color: white !important;
}

.form-checkbox>span::before {
    border-color: white !important;
}


/*---------------------------------------------*/

.ember-application {
    background-color: #2e2e2e;
}


.stepik-loader-prerender-wrapper {
    background-color: #2e2e2e;
}
}



.course-card__widgets {
    /*карточка с курсом > 
    текст сколько курс проходить сколько людей прошло и т.п. */
    color: #999999;
}



.catalog-rich-card::before {
    /* before в этих стилях значит для этого класса только на главной, а без before после нажатия кнопки поиска */
    /* карта курса */
    content: "стили от twitch.tv/typeerr0r";
    transition: all 0.2s;
}

/* .course-cards__item { */
/* ячейка в которой хранятся карточки курсов */
/* } */

.course-cards__card {
    /*  в главной этот класс лежит как подстилка
    а после нажатия кнопки поиска становится лицом 
    карточки курса */
    border-radius: 15px;
    /* margin: 25px; */
    padding: 1vh !important;
}

button.select-box__toggle-btn {
    /* выбор языка */
    color: #168bff !important;
}

.menu {
    /* обёртка для меню
    выпадающее окно выбора языка 
    и другие теги с этим классом*/
    border-color: #222222;
}

.select-box-item>button {
    /* papup window width set language сами кнопки*/
    background-color: #222222 !important;
    color: #d7d7d7 !important;
}

.select-box-item>button:hover {
    background-color: #2e2e2e !important;
}


.catalog__search-form {
    /* поисковая панель  в самом верху но не в навбаре */
    background-color: #222222;
}


.search-form-filter__subtitle-mobile {
    /* выпадающее окно "фильтры" (маленькие экраны)
    текст под загаловками*/
    color: #dfdfdf;
}


.modal-popup__container {
    /* выпадающее окно "фильтры" (маленькие экраны)*/
    /* само окно */
    background-color: #222222;
}



.search-form-filter__range-presets-btn {
    /* выпадающее окно "фильтры" (маленькие экраны),
    >цена>кнопки снизу поля ввода(input(a))*/
    transition: all 1s !important;
}


.marco-layout__nav,
.catalog-w__catalog-nav-container {
    background-color: #222222;
}

.catalog-block-promo-courses__about-card {
    /* блок с авторос месяца */
    background-color: #222222;
}

.catalog-block-promo-courses__about-card-body {
    /* описание автора месяца */
    color: #8f4bd4;
}

.catalog-block-organizations__list {
    /*каталог организаций публикующих курсы на степике */
    background-color: #bdbdbd;
    border-radius: 10px 40px 10px 40px;
    padding: 1vh;
}




/* не опредеоённое */
/* ----------------------------------------------------------------------------------------------------------- */


/*---------------*/
/* classes style */
/*---------------*/

.search-form {
    /*стили поисковой панели*/
    background-color: #222222;
}


.toast-panel {
    /* стили панели с кнопкой в "Выйти из режима просмотра" */
    /* режим просмотра своего провиля "со стороны" */
    /* стили панели с кнопкой "Выйти из режима просмотра" */
    background-color: #222222;
    color: yellow;
}

.button:not(.st-button_style_none).toast-panel__button.st-size-small,
button:not(.st-button_style_none).toast-panel__button.st-size-small {
    /* кнопка на панели(но что за панель я забыл указать а теперь догадывайся сам) */
    background-color: #2e2e2e;
}


.profile-summary__followers {
    /* надпись "Подписчиков" */
    color: #ff1818;
}

.profile-summary__followers>b {
    /* сколько фалловеров */
    color: #9d9d9d;
}

.profile__counter {
    /* текст счётчика провиля */
    color: yellow;
}





.profile__text {
    /* биография юзера */
    background-color: #222222;
    padding: 1vh;
    border-radius: 14px;
}


.light-tabs__content {
    /* блоки "О себе" и "Активность за последний год" */
    background-color: #222222;
    border: none;
}

.button:not(.st-button_style_none).grey.disabled,
.button:not(.st-button_style_none).grey[aria-disabled=true],
.button:not(.st-button_style_none).grey[disabled],
button:not(.st-button_style_none).grey.disabled,
button:not(.st-button_style_none).grey[aria-disabled=true],
button:not(.st-button_style_none).grey[disabled] {
    /* кнопка подписатся в предпросмотре своего профиля*/
    background-color: #970707;
}


.button:not(.st-button_style_none),
button:not(.st-button_style_none) {
    /* кнопка подписатся в предпросмотре чужих профилях */
    background-color: #970707;
}

rect {
    background-color: black;
    color: red !important;
}



/*---------------*/
/* classes style */
/*---------------*/

.search-form {
    /*стили поисковой панели*/
    background-color: #222222;
}

.profile-summary__followers {
    color: #ff1818;
}

.profile-summary__followers>b {
    /* сколько фалловеров */
    color: #9d9d9d;
}

.profile__counter {
    /* текст счётчика провиля */
    color: yellow;
}




.toast-panel {
    background-color: #222222;
    color: yellow;
}

.toast-panel__button {
    background-color: #222222;
    color: red;
}



rect {
    background-color: black;
    color: red !important;
}